* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  button {
    all: unset;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-image: radial-gradient(ellipse, #632f63, #c5bac8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .counter {
    background-color: #8c4e75;
    width: 476px;
    height: 615px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .counter__title {
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 200px;
    text-align: center;
    line-height: 0.9;
    font-weight: 500;
    font-size: 32px;
    margin-top: 60px;
  }
  
  .counter__value {
    color: #25071a;
    font-size: 200px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .counter__reset-icon {
    opacity: 0.3;
    font-size: 35px;
    
  }
  
  .counter__buttons {
    background-color: #220725;
    height: 116px;
    width: 100%;
    margin-top: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
  }
  
  .counter__button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .counter__button:hover {
    background-color: #171317;
  }
  
  .counter__button--decrease {
  
  }
  
  .counter__button--increase {
    border-left: 1px solid rgba(190, 76, 173, 0.15);
  }
  
  .counter__icon {
    color: #b96bc4;
    opacity: 0.9;
    font-size: 40px;
  }
  
  .counter__icon--minus {
  
  }
  
  .counter__icon--plus {
    
  }